@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    position: relative;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    max-width: 450px;
    background: white;
    border-radius: 1.25rem;
    overflow: hidden;
}

.text-content{
    padding: 0.5rem;
    text-align: center;
}

.title{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.text-content p.subtitle{
    color: #8a8a8a;
    margin-bottom: 1.5rem;
}

.box{
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.75rem;
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.box-left{
    display: flex;
    align-items: center;
    text-align: left;
}

.box-left div{
    margin-left: 1.25rem;
}

.box-left div h5{
    font-weight: 900;
    font-size: 0.93rem;
    color: hsl(223, 47%, 23%);
}

.box-left div p{
    font-size: 0.875rem;
    color: #8a8a8a;
}

.box a{
    font-weight: 900;
    color: hsl(223, 47%, 23%)
}
.box a:hover{
    text-decoration: none;
    color: hsl(245, 75%, 52%);
    transition: color .3s ease;
}

a.proceed-btn{
    display: block;
    text-decoration: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
    padding: 1.25rem 0;
    border-radius: 0.75rem;
    margin: 1.875rem 0;
    transition: background-color .3s ease;
}
a.proceed-btn:hover{
    background-color: hsl(224, 23%, 55%);
}

a.cancel-btn{
    color:hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 900;
    transition: color .3s ease;
}
a.cancel-btn:hover{
    color: hsl(223, 47%, 23%);
}

@media only screen and (max-width: 425px){
    body{
        background-image: url(images/pattern-background-mobile.svg);
        font-size: 0.875rem;
    }
    main{
        max-width: 87%;
    }
    .title{
        font-size: 1.4rem;
    }
    div.box{
        padding: 0.75rem;
    }
    .box-left{
        margin-left: 0.625rem;
    }
    a.proceed-btn,
    a.cancel-btn,
    .box a{
        font-size: 0.8rem;
    }
    .text-content{
        padding: 0.5625rem 0.4375rem;
    }
}
